# === Java, Maven, Spring Boot ===
/target/
*.class
*.log
*.jar
*.war
*.iml
*.tmp

# === IDEs: STS / Eclipse / IntelliJ ===
.metadata/
.project
.classpath
.settings/
.apt_generated/
.idea/
.vscode/
*.iws
*.ipr

# === OS-specific ===
.DS_Store
Thumbs.db

# === Git ===
*.lck
*.lock

# === SonarLint ===
.sonarlint/

# === Logs ===
logs/
*.log

# === Others ===
.env
